@import "tailwindcss";

.shiki {
  background-color: var(--shiki-light-bg);
  @apply text-sm;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

html:is(.dark, .mono-dark) .shiki {
  background-color: var(--shiki-dark-bg) !important;
}

html:is(.dark, .mono-dark) .shiki,
html:is(.dark, .mono-dark) .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki.has-diff .line.diff {
  @apply relative pl-6;
}

.shiki .line.diff.add {
  @apply relative bg-success/25;
}

.shiki .line.diff.add::before {
  content: "+";
  @apply absolute left-1 top-0 w-4 text-center font-semibold text-success-foreground;
}

.shiki .line.diff.remove {
  @apply relative bg-destructive/25;
}

.shiki .line.diff.remove::before {
  content: "-";
  @apply absolute left-1 top-0 w-4 text-center font-semibold text-destructive;
}

.shiki.has-highlighted .line.highlighted {
  @apply bg-muted/60 px-1;
}

.shiki .highlighted-word {
  @apply bg-muted/60 px-1;
}

.shiki.has-focused .line:not(.focused) {
  filter: blur(0.5px);
  opacity: 0.5;
  transition: all 0.2s ease;
}

.shiki.has-focused:hover .line:not(.focused) {
  filter: blur(0px);
  opacity: 0.8;
}

.shiki.has-focused .line.focused {
  position: relative;
  z-index: 1;
}

.shiki .line.highlighted.error {
  @apply bg-destructive/25 backdrop-blur-3xl;
}

.shiki .line.highlighted.warning {
  @apply bg-warning/25 backdrop-blur-3xl;
}

.shiki.has-line-numbers {
  @apply pl-12 relative;
}

.shiki.has-line-numbers .line {
  @apply relative;
}

.shiki.has-line-numbers .line::before {
  content: attr(data-line-number);
  @apply absolute -left-9 w-6 text-right text-muted-foreground/80 text-sm select-none;
}

.shiki.has-line-numbers::before {
  content: "";
  @apply absolute left-11 top-0 bottom-0 w-px bg-muted;
}

@media (prefers-reduced-motion: reduce) {
  .shiki,
  .shiki .highlighted-word .shiki .line {
    transition: none;
  }

  .shiki.has-focused .line:not(.focused) {
    filter: none;
  }
}
